{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
 <!--header-->
 {% include "header.html.twig" %}
 {% include "bannier.html.twig" %}
 <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {# <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Les Categories</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div> #}
                    {% if products | length > 0 %}
                        {% for product in products %}
                            <div class="col-md-6 p-2">
                                <div class="card card-style h-100 ">
                                 <!--  if archived == 0 the product not disponible or not found of stock  -->
                                    {% if product.archived == 0 %}
                                      <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Pas Disponible</div>
                                    {% endif %}
                                    
                                    <!-- Product image-->
                                      <a href="{{path('show', {'id': product.id})}}" alt=""> <img class="card-img-top" src="{{ asset('uploads/photos/' ~ product.photo) }}" alt="..." /></a>                  
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                        <h5 class="fw-bolder">{{product.libelle}}</h5>
                                            <!-- Product price-->
                                            {{product.price}} cfa
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer border-top-0 bg-transparent">
                                       <!--  if archived != 0 the product  disponible of stock  -->
                                       {% if product.archived != 0 %}
                                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{path('cart_add', {'id': product.id})}}"> <i class="bi-cart-fill me-1"></i> Ajouter</a></div>
                                       {% endif %}
                                         <!--  if archived == 0 the product not disponible or not found of stock  -->
                                       {% if product.archived == 0 %}
                                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{path('show', {'id': product.id})}}"> <i class="bi-eye-fill me-1"></i> Voir </a></div>
                                       {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="row">
                        <img class="card-img-top rounded-circle" src="{{asset('assets/images/search.jpg')}}" alt="..." width="50px"/>
                        <h6 class="py-3 text-center">Le produit {{search}} n'existe pas</h6>
                        <a class="btn btn-outline-dark" href="{{path('welcome')}}">Actualisée la boutique</a>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </section>
{% include "footer.html.twig" %}
{% endblock %}
