{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
 <!--header-->
 {% include "header.html.twig" %}
 {% include "bannier.html.twig" %}
 {% include "menu.html.twig" %}
 <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row">
                    {% if products | length > 0 %}
                        {% for product in products %}
                            <div class="col-sm-12 col-md-3 p-3">
                            <div class="card">
                            <img src="{{ asset('uploads/photos/' ~ product.photo) }}" alt="{{product.photo}}" style="width:100%;">
                            <h1>{{product.libelle}}</h1>
                            <p class="price"> {{product.price}} Fdj</p>
                            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                               <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                          <div class="row p-2">
                            <div class="col">
                                  <a class="btn btn-outline-dark mt-auto" href="{{path('show', {'id': product.id})}}"><i class="bi-eye-fill me-1"></i>Voir</a>
                            </div>
                            <div class="col">
                                  <a class="btn btn-outline-dark mt-auto" href="{{path('cart_add', {'id': product.id})}}"><i class="bi-cart-fill me-1"></i>Ajouter</a>
                            </div>
                          </div>
                      </div>
                            </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="row">
                        <img class="card-img-top rounded-circle" src="{{asset('assets/images/search.jpg')}}" alt="..." width="50px"/>
                        <h6 class="py-3 text-center">Le produit {{search}} n'existe pas</h6>
                        <a class="btn btn-outline-dark" href="{{path('welcome')}}">Actualisée le boutique</a>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </section>
{% include "footer.html.twig" %}
{% endblock %}
