{% extends 'base.html.twig' %}

{% block title %}Hello OrderedController!{% endblock %}

{% block body %}
{% include "header.html.twig" %}
{% include "bannier.html.twig" %}
   <section class="py-5">
   <div class="container-fluid px-4 px-lg-5 mt-5">
    <div class="row">
       <div class="col-4">
            <div class="card">
                <div class="card-header">Formulaire de commande</div>
                <div class="card-body">
                        {{ form_start(form) }} 
                        {{form_row(form.name  , {'attr': {'placeholder':'votre nom'}})}} 
                        {{form_row(form.phone  , {'attr': {'placeholder':'votre telephone'}})}} 
                        {{form_row(form.email  , {'attr': {'placeholder':'votre email'}})}} 
                        {{form_row(form.phoneFix  , {'attr': {'label':'votre email'}})}} 
                        {{form_row(form.particularInfo  , {'attr': {'label':'Vous voulez ajouter autres option ecrivez ici '}})}} 
                        <div class="form-group py-2">
                            {% if  communs  | length > 0 %}
                                <select class="form-select me-2" aria-label="Default select example" name="commune">
                                    {% if  communs  | length > 0 %}
                                            <option value="null">selectionnez un addresse livraison</option>
                                        {% for commun  in communs %}
                                            <option value="{{commun.id}}">{{commun.libelle}} - {{commun.tarif}} cfa</option>
                                        {% endfor %} 
                                    {% endif %} 
                                </select>
                            {% endif %}
                        </div>
                        <div class="form-group py-2">
                        <button type="submit" class="btn btn-outline-success">
                                Valider
                        </button>
                        </div>
                        {{ form_end(form) }} 
                </div>
            </div>
       </div>
       <div class="col-8">
       {% if items | length > 0 %}
           <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">image</th>
                    <th scope="col">libelle</th>
                    <th scope="col">prix</th>
                    <th scope="col">quantite</th>
                    <th scope="col">Prix Totale</th>
                   
                    </tr>
                </thead>
                <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="text-center"><img class="card-img-top image" src="{{ asset('uploads/photos/' ~ item.product.photo) }}" alt="..."/></td>
                                <td class="text-center">{{item.product.libelle}}</td>
                                <td class="text-center">{{item.product.price}} cfa </td>
                                <td class="text-center">{{item.quantity}}</td>
                                <td class="text-center">{{item.product.price * item.quantity}} cfa </td>
                              
                            </tr>
                        {% endfor %}
                </tbody>
                <tfooter>
                    {% if items | length > 0 %}
                        <tr>
                            <td colspan="4">Totale</td>
                            <td><h5>{{Totale}} <span>cfa</span></h5></td>
                        </tr>
                        
                    <tr>
                        {# <td colspan="6"></td> #}
                        {# <td> <a class="btn btn-outline-success" href="{{path('ordered')}}">Commande vos produits</a></td> #}
                    </tr>
                        
                    {% endif %}
                    
                </tfooter>
            </table>
        {% else %}
            <div class="row">
                <img class="card-img-top rounded-circle" src="{{asset('assets/images/panier.png')}}" alt="..." width="50px" height="100px"/>
                <h6 class="py-3 text-center">Votre panier est vide </h6>
                <a class="btn btn-outline-dark" href="{{path('welcome')}}">Commencez vous Achetez</a>
            </div>
        </div>
        {% endif %}
        </div>
</div>
</section>
{% include "footer.html.twig" %}
{% endblock %}
