{% extends 'base.html.twig' %}

{% block title %}Hello OrderedController!{% endblock %}

{% block body %}
{% include "header.html.twig" %}
{% include "bannier.html.twig" %}
   <section class="py-5">
   <div class="container-fluid px-4 px-lg-5 mt-5">
    <div class="row">
       <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Numero de commande</th>
                        <th scope="col">Date de la commande</th>
                        <th scope="col">Client</th>
                        <th scope="col">Etat de la commande</th>
                        <th scope="col">Totale de la commande</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ordered in ordereds %}
                        <tr>
                            <td>{{ordered.numeroOrder}}</td>
                            <td>{{ordered.createdAt | date("m/d/Y") ~ ' à ' ~  ordered.createdAt | date('H:i:s') }}</td>
                            <td>{{ordered.customer.name}}</td>
                            {% if ordered.statusOrdered == -1 %}
                                  <td>En attente</td>
                            {% endif %}
                             {% if ordered.statusOrdered == 0 %}
                                  <td>En cour de traitement</td>
                            {% endif %}
                             {% if ordered.statusOrdered == 1 %}
                                  <td>Le traitement de la commande est terminer </td>
                            {% endif %}
                            <td>{{ordered.TotalOrdered}} cfa</td>
                            <td>
                                <a class="btn btn-warning" href="{{path('orderedsRun',{'id' : ordered.id})}}">
                                    <i class="bi bi-eye"></i>
                                </a> 
                                {% if ordered.statusOrdered == 0 %}
                                <a class="btn btn-secondary" href="{{path('orderedsPause',{'id' : ordered.id})}}">
                                <i class="bi bi-pause"></i>
                                </a> 
                                {% endif %}
                                {% if ordered.statusOrdered == 1 %}
                                <a class="btn btn-secondary" href="{{path('generate_pdf',{'id' : ordered.id})}}">
                                   <i class="bi bi-printer"></i>
                                </a> 
                                 <a class="btn btn-success" href="{{path('getOrderedbyProducts',{'ordered' : ordered.id})}}">
                                   <i class="bi bi-bookmark-check"></i>
                                </a> 
                                {% endif %}
                                {% if ordered.statusOrdered == -1 %}
                                <a class="btn btn-secondary" href="{{path('orderedsPlay',{'id' : ordered.id})}}">
                                    <i class="bi bi-play"></i>
                                </a> 
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       </div>
    </div>  
</div>
</section>
{% include "footer.html.twig" %}
{% endblock %}
