{% extends "base.html.twig" %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                     <div class="row">
                            <div class="col-md-4">Le Nom de client : {{ordered.customer.name}}</div>
                            <div class="col-md-4">Le telephone du client est {{ordered.customer.phone}}</div>
                            <div class="col-md-4">La Commande Numero: {{ordered.numeroOrder}}</div>
                     </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered py-3">
                       
                            <tr>
                                <th scope="col">Libelle </th>
                                <th scope="col">prix</th>
                                <th scope="col">quantity</th>
                                <th scope="col">Date de la commande</th>
                            </tr>
                      
                        
                            {% for ordered in orderedDetail %}
                                <tr>
                                     <td class="text-center">{{ordered.product.libelle}}</td>
                                     <td class="text-center">{{ordered.product.price}}</td>
                                     <td class="text-center">{{ordered.quantity}} quantite</td>
                                     <td class="text-center">{{ordered.dateOrder | date('d/m/Y') ~ ' à ' ~  ordered.dateOrder | date('H:i:s')  }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                             <td colspan="5" >Totale de la commande</td>
                             <td class="text-center">{{ordered.TotalOrdered}} CFA</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}