{% extends "base.html.twig" %}

{% block body %}
{% include "header.html.twig" %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="py-3">
                 <a class="btn btn-primary" href="{{path('ordereds')}}">Liste de la commande</a>
            </div>
                     <div class="row">
                            <div class="col-md-4">Le Nom de client : {{ordered.customer.name}}</div>
                            <div class="col-md-4">Le telephone du client est {{ordered.customer.phone}}</div>
                            <div class="col-md-4">La Commande Numero: {{ordered.numeroOrder}}</div>
                     </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered py-3">
                       
                            <tr>
                                <th scope="col">image</th>
                                <th scope="col">Libelle </th>
                                <th scope="col">prix</th>
                                <th scope="col">quantity</th>
                                <th scope="col">Date de la commande</th>
                                <th scope="col">Prix Unite</th>
                            </tr>
                      
                        
                            {% for ordered in orderedDetail %}
                                <tr>
                                     <td class="text-center"><img class="card-img-top image" src="{{ asset('uploads/photos/' ~ ordered.product.photo) }}" alt="..."/></td>
                                     <td class="text-center">{{ordered.product.libelle}}</td>
                                     <td class="text-center">{{ordered.product.price}}</td>
                                     <td class="text-center">{{ordered.quantity}}</td>
                                     <td class="text-center">{{ordered.dateOrder | date('d/m/Y') ~ ' à ' ~  ordered.dateOrder | date('H:i:s')  }}</td>
                                     <td class="text-center">
                                       {{ordered.product.price * ordered.quantity}}
                                     </td>
                                </tr>
                            {% endfor %}
                            <tr>
                             <td colspan="5" >Prix de la livraison</td>
                             <td class="text-center">{{ordered.commune.libelle}} | {{ordered.commune.tarif}}  Fdj</td>
                            </tr>
                            <tr>
                             <td colspan="5" >Totale de la commande</td>
                             <td class="text-center">{{ordered.TotalOrdered}} Fdj</td>
                            </tr>
                            <tr>
                            <td colspan="5" >Acitve Livraison de la commande</td>
                            <td class="text-center">
                                <a class="btn btn-warning" onclick="return confirm(`Voulez-vous Confirmer la livraison de la commande numero {{ordered.numeroOrder}}?`)" href="{{path('runlivraison',{'id' : ordered.id})}}">
                                    <i class="bi bi-truck"></i>
                                </a> 
                            </td>
                            </tr>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}