     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
     <div class="container px-4 px-lg-5">
         <a class="navbar-brand" href="{{path('welcome')}}">Le logo de l'entreprise</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                 {# {% if is_granted('ROLE_USER') %}
                 <li class="nav-item"><a class="nav-link" href="{{path('product-new')}}">Produit</a></li>
                {% endif %} #}
                {% if is_granted('ROLE_USER') %}
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <li><a class="dropdown-item" href="{{path('category')}}">Gestion des categories</a></li>
                         <li><a class="dropdown-item" href="{{path('product-new')}}">Gestion des Produits</a></li>
                         <li><a class="dropdown-item" href="{{path('commun')}}">Gestion des communs</a></li>
                         <li><a class="dropdown-item" href="{{path('ordereds')}}">Gestion des commande</a></li>
                         <li><a class="dropdown-item" href="{{path('security')}}">Gestion des utilisateur</a></li>
                         <li><hr class="dropdown-divider" /></li>
                         <li><a class="dropdown-item" href="#">
                            {% if  app.user %}
                                {{ app.user.username |  upper}}
                                   |
                                {{ app.user.roles[0] }}
                            {% endif %}
                        </a></li>  
                         <li><a class="dropdown-item" href="{{path('logout')}}">Deconnexion</a></li>
                     </ul>
                 </li>
                {% endif %}
             </ul>
                <div class="container-fluid ">
                 <div class="row">
                 <div class="col-md-8">
                    <form class="d-flex " method="post" action="">
                            <input type="text" name="search" class="form-control me-2" placeholder="Rechercher un produit ou marque"  />
                        {% if  categories  | length > 0 %}
                            <select class="form-select me-2" aria-label="Default select example" name="category">
                                {% if  categories  | length > 0 %}
                                        <option value="null">Filter par Categories</option>
                                    {% for category  in categories %}
                                        <option value="{{category.id}}">{{category.libelle}}</option>
                                    {% endfor %} 
                                {% endif %} 
                            </select>
                        {% endif %}
                            <button class="btn btn-dark shadow-lg button-style rounded" type="submit">Rechercher</button>
                    </form>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div class="col-md-2">
                        <form class="d-flex" >
                                <a class="btn btn-outline-danger" href="{{path('logout')}}">
                                <i class="bi bi-box-arrow-right me-1"></i>
                                    Deconnexion
                            </a>
                        </form>
                    </div>
                {% endif %}
                {% if (is_granted('ROLE_USER') != "ROLE_USER") %}
                    <div class="col-md-2">
                        <form class="" >
                                <a class="btn btn-outline-dark" href="{{path('cart')}}">
                                <i class="bi-cart me-1"></i>
                                    Cart
                                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{items | length}}</span>
                            </a>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <form class="" >
                                <a class="btn btn-outline-success" href="https://wa.me/221705655228/?text= Bievenue Chez Pape Diop Cordonnerie 2.0 ">
                                <i class="bi bi-whatsapp me-1"></i>
                                    Contactez-nous
                            </a>
                        </form>
                    </div>
                    
                {% endif %}
             </div>
            </div>
                 
         </div>
     </div>
 </nav>
